@font-face {
    font-family: RadioCanadaBigVariableFontwght;
    src: url('../assets/font/RadioCanadaBigVariableFontwght.ttf');
}
.All
{
   
}
.about {
    margin-top: 40px;
}

.detail {
    height: 450px;
    width: 70%;
    margin: auto;
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
}

.tag1 {
    display: flex;
    justify-content: center;
}

.tag1 h2 {
    margin-top: 20px;
    font-family: RadioCanadaBigVariableFontwght;
    font-size: 1.5rem;
    color: #7f4f24;
}

.detail h3 {
    margin-left: 50px;
    font-family: RadioCanadaBigVariableFontwght;
    font-size: 1.2rem;
    color: #936639;
}

.about_para1 p {
    width: 90%;
    margin-left: 50px;
    margin-top: 10px;
    font-size: 1rem;
    color: #4f772d;
}

.about_para2 p {
    width: 90%;
    margin-left: 50px;
    margin-top: 30px;
    font-size: 1rem;
    color: #4f772d;
}

.about_para3 p {
    width: 90%;
    margin-left: 50px;
    margin-top: 30px;
    font-size: 1rem;
    color: #4f772d;
}

.about_para4 {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-left: 50px;
    margin-top: 30px;
    font-size: 1rem;
    color: #4f772d;
}

.about_para4 p {
    font-size: 0.8rem;
    color: #e63946;
    cursor: pointer;
}

.about_para4 p:hover {
    color: #ffd60a;
}

.terms {
    margin-top: 100px;
}

.detail1 {
    height: 450px;
    width: 70%;
    margin: auto;
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
}

.tag2 {
    display: flex;
    justify-content: center;
}

.tag2 h2 {
    margin-top: 20px;
    font-family: RadioCanadaBigVariableFontwght;
    font-size: 1.5rem;
    color: #7f4f24;
}

.term_para1 p {
    width: 90%;
    margin-left: 50px;
    margin-top: 20px;
    font-size: 1rem;
    color: #4f772d;
    font-weight: 800;
    font-family: RadioCanadaBigVariableFontwght;
}

.term_para2 p {
    width: 90%;
    margin-left: 50px;
    margin-top: 30px;
    font-size: 1rem;
    color: #4f772d;
    font-weight: 800;
    font-family: RadioCanadaBigVariableFontwght;
}

.term_para3 p {
    width: 90%;
    margin-left: 50px;
    margin-top: 20px;
    font-size: 1.1rem;
    color: #7f4f24;
    font-weight: 800;
    font-family: RadioCanadaBigVariableFontwght;
}

.term_para4 p {
    width: 90%;
    margin-left: 50px;
    margin-top: 20px;
    font-size: 1rem;
    color: #4f772d;
    font-weight: 800;
    font-family: RadioCanadaBigVariableFontwght;
}

.term_para5 p {
    width: 90%;
    margin-left: 50px;
    margin-top: 20px;
    font-size: 1rem;
    color: #4f772d;
    font-weight: 800;
    font-family: RadioCanadaBigVariableFontwght;
}

.contact {
    margin-top: 70px;
}

.detail2 {
    height: 280px;
    width: 70%;
    margin: auto;

}

.tag3 {
    display: flex;
    justify-content: center;
}

.tag3 h2 {
    margin-top: 20px;
    font-family: RadioCanadaBigVariableFontwght;
    font-size: 1.5rem;
    color: #7f4f24;
}

.detail2 .area {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.area .address {
    margin-left: 50px;
    margin-top: 20px;
}

.address .addr1 {
    font-size: 1rem;
    font-family: RadioCanadaBigVariableFontwght;
    font-weight: 800;
    margin-top: 0px;
    padding-left: 30px;
    background-image: url(../assets/icon/land.png);
    background-position: 0px;
    background-size: 22px;
    background-repeat: no-repeat;
    color: #b5842f;
    cursor: pointer;
}

.address .addr2 {
    font-size: 1rem;
    font-family: RadioCanadaBigVariableFontwght;
    font-weight: 800;
    margin-top: 0px;
    padding-left: 30px;
    background-image: url(../assets/icon/mail.png);
    background-repeat: no-repeat;
    background-size: 19px;
    background-position: 0px;
    color: #b5842f;
    cursor: pointer;
}

.address .addr3 {
    font-size: 1rem;
    font-family: RadioCanadaBigVariableFontwght;
    font-weight: 800;
    margin-top: 0px;
    padding-left: 30px;
    background-image: url(../assets/icon/location.png);
    background-position: 25px 0px 0px 0px;
    background-repeat: no-repeat;
    background-size: 23px;
    color: #b5842f;
    cursor: pointer;
}

.flower img {
    height: 250px;
    margin-top: -30px;
    margin-left: 220px;
}


@media all and (max-width:480px) {
    .detail h3 {
        margin-left: 15px;
    }

    .about_para1 p {
        margin-left: 15px;
        font-size: 0.8rem;
    }

    .about_para2 p {
        margin-left: 15px;
        font-size: 0.8rem;
    }

    .about_para3 p {
        margin-left: 15px;
        font-size: 0.8rem;
    }

    .about_para4 {
        display: none;
    }

    .terms {
        margin-top: 200px;
    }

    .term_para1 p {
        margin-left: 15px;
        font-size: 0.8rem;
    }

    .term_para2 p {
        margin-left: 15px;
        font-size: 0.8rem;
    }

    .term_para3 p {
        margin-left: 15px;
        font-size: 0.8rem;
    }

    .term_para4 p {
        margin-left: 15px;
        font-size: 0.8rem;
    }

    .term_para5 p {
        margin-left: 15px;
        font-size: 0.8rem;
    }

    .contact {
        margin-top: 250px;
        height:350px;
    }
    .detail2 .area {
        display: grid;
        grid-template-columns:1fr;
    }
    .area .address {
        margin-left: 0px;
        margin-top: 20px;
    }
    .address .addr1
    {
        font-size: 0.8rem;
    }
    .address .addr2
    {
        font-size: 0.8rem;
    }
    .address .addr3
    {
        font-size: 0.8rem;
    }
    .flower img {
        height: 130px;
        margin-top: 0px;
        margin-left: 60px;
    }
}